<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Seinfeld</h5>
            <p class="card-text">Check out all the Seinfeld characters.</p>
            <a href="/users" class="btn btn-primary">Seinfeld</a>
        </div>
    </div>
</div>